@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mataatua</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/global.css" />
</head>
<body class="globaltest">
    <nav class="navbar navbar-light bg-light justify-content-between flex-nowrap flex-row">
        <div class="container">
            <a asp-controller="Admin" asp-action="Index" class="navbar-brand">Home</a>
            <ul class="nav navbar-nav flex-row float-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ml-2">
                        <a asp-controller="Admin" asp-action="Register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a asp-controller="Admin" asp-action="Login" class="nav-link">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item ml-2">
                        <a asp-controller="Admin" asp-action="CreateRole" class="nav-link">Create Role</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a asp-controller="Admin" asp-action="Logout" class="nav-link">Logout</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Heitiki Creatives</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
