@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form action="/Admin/Login" method="post">
    <label>Email</label><br />
    <input type="text" name="email" value="corbanhirawani@gmail.com" /><br />
    <label>Password</label><br />
    <input type="password" name="password" value="password" /><br />
    <button style="margin-top: 8px;" type="submit">Submit</button>
</form>
