
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form action="/Admin/Register" method="post">
    <label>Email</label><br />
    <input type="text" name="email" value="" /><br />
    <label>Password</label><br />
    <input type="password" name="password" value="password" /><br />
    <button style="margin-top: 8px;" type="submit">Submit</button>
</form>
